*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Nav */

body{
    background-color: #569099;
}

nav{
    background-color: #95a7a7;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}

.container li, a{
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: black;
    text-decoration: none;
    list-style-type: none;
    padding: 0px 15px;
}

.container ul{
    display: flex;
    align-items: center;
}

.container ul li a:hover{
    opacity: 0.7;
}

#special{
    background-color: #a4dad2;
    border: 2px solid black;
}

/* Body */

/* .element {
    margin: 0 10px;
    font-size: 120%;
    text-decoration: none;
    color: #333;
  } */
  
  .container1 {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 74px);
    padding: 0 5%;
    align-items: center;
  }
  
  .box {
    width: 25%;
    height: 70%;
    background-color: rgb(69, 159, 164);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: black;
    padding: 2%;
    word-spacing: 10%;
    border: 2px solid black;
  }
  
  .container1 .label {
    position: relative;
    padding: 5%;
    background-color: white;
    top: -3%;
    left: 0;
    width: 90%;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
  }
  
  .quote {
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    color: #bce08a;
    margin: 12% auto;
  }
  
  .left-box {
    align-self: center;
  }
  
  .right-box {
    align-self: center;
  }
  
  /* #generate-quote {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  } */
  
  /* body {
    text-align: center;
  } */
  /* #fact-box {
      width: 30%;
      float: left;
      position: relative;
      bottom: -140px;
  } */

